/** ALL THE variables USED ACROSS THE LAYOUT */

// COLORS

$darkest-gray: #111;
$dark-gray: #202020;
$medium-gray: #353535;
$transparent-black: rgba(0,0,0,0.7);

// MEDIA QUERIES BREAKPOINTS 

$break-large: 960px;
$break-tablet: 620px;
$break-mobile: 480px;

