/**
  _documentation: README file styles
*/
.documentation code {
  color: #00a1c4;
  background-color: #4f4f4f;
}
.documentation pre {
  background-color: #4f4f4f;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  color: #FFF;
  margin-bottom: 24px;
}
.documentation .table-of-contents {
  padding: 12px;
  border: solid 1px #FFF;
}
.documentation ol {
  list-style-type: none;
  counter-reset: item;
  margin: 0;
  padding: 0;
}
.documentation li {
  display: table;
  counter-increment: item;
  margin-bottom: 12px;
}
.documentation li:before {
  content: counters(item,".") ". ";
  display: table-cell;
  padding-right: 0.6em;
}
.documentation li li {
  margin: 0;
}
.documentation li li li {
  margn-left: 20px;
}
.documentation li li:before {
  content: counters(item,".") " ";
}
