/**
	_general-styles: this file contain style declarations used across the whole layout
*/
html, body, #main {
  width: 100%;
  height: 100%;
}

body {
  background-color: #000;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #FFF;
  font-size: 16px;
}
@media screen and (min-width: 1200px) {
  body {
    font-size: 18px;
  }
}

a, a:link, a:hover {
  color: inherit;
}

img {
  max-width: 100%;
}

ul {
  padding-left: 0;
  list-style-position: inside;
}

/** HELPER CLASSES */
.transition-fast {
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

.inline-list li {
  list-style: none;
  float: left;
}

/** GRID ELEMENTS */
.table-row {
  display: table;
  width: 100%;
  margin: 0;
}

.table-col {
  display: table;
  width: 100%;
  vertical-align: top;
}
@media screen and (min-width: 992px) {
  .table-col {
    width: 50%;
    display: table-cell;
  }
}

.content-row {
  position: relative;
  margin-bottom: 24px;
}
@media screen and (min-width: 992px) {
  .content-row {
    margin-bottom: 48px;
  }
}

@media screen and (max-width: 992px) {
  [class*="col-"] {
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 992px) {
  .isotope [class*="col-"] {
    margin-bottom: 0;
  }
}

/** GLOBAL STYLES */
section {
  overflow: hidden;
  padding-top: 24px;
  padding-bottom: 48px;
}
section.full-dimensions {
  padding: 0;
}
section p {
  line-height: 1.5em;
  margin-bottom: 12px;
}

section:nth-child(odd) {
  background-color: #353535;
}

section:nth-child(even) {
  background-color: #202020;
}

.title-1, .title-2, .title-3, .title-4 {
  font-family: "News Cycle", sans-serif;
  -webkit-font-smoothing: antialiased;
}

.title-1 {
  margin-top: 24px;
  margin-bottom: 48px;
  font-size: 2em;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}
.title-1:after {
  content: "";
  display: block;
  clear: both;
  width: 50px;
  height: 1px;
  background-color: #2cb07b;
  margin-top: 15px;
  position: absolute;
  left: 50%;
  margin-left: -25px;
}
.title-1 a:hover {
  text-decoration: none;
}

.title-2, .title-3, .title-4 {
  font-weight: 700;
  margin-bottom: 12px;
  margin-top: 6px;
}

.title-2 {
  font-size: 1.6em;
}

.title-3 {
  font-size: 1.4em;
}

.title-4 {
  font-size: 1.2em;
}

.text-box {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  background: url('../images/bg/original/bg-cover.png?1454038048') repeat;
  padding: 0 10%;
  box-sizing: border-box;
}

.hover-image-item, .hover-zoom {
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

.hover-zoom {
  opacity: 0;
}

@media screen and (min-width: 992px) {
  .hover-image:hover .hover-image-item {
    opacity: 0.4;
  }
}

.databox {
  text-align: center;
}
.databox .databox-title {
  font-family: "News Cycle", sans-serif;
  margin-bottom: 6px;
  margin-top: 0;
  font-weight: 700;
}
.databox .databox-info {
  display: block;
  font-size: 0.8em;
}

address span {
  display: block;
}

.page-footer footer {
  text-align: center;
  font-size: 0.8em;
}

/**
	_custom-magnific-popup: this file contains some style overrides for the Nagnific Popup (the lightbox)
*/
.black-night {
  /* Custom nav button */
}
.black-night button.mfp-close {
  position: absolute;
  top: 30px;
  right: -5px;
  width: 30px;
  height: 30px;
  background: #2cb07b;
  opacity: 1;
  line-height: 30px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  -o-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}
.black-night button.mfp-close:hover {
  background-color: #22875e;
}
.black-night .mfp-bottom-bar {
  top: auto;
  bottom: 40px;
  margin-top: 0;
  margin-top: 0;
  padding: 12px;
  background: #bbbbbb;
}
.black-night .mfp-bottom-bar .mfp-title {
  color: #353535;
}
.black-night .mfp-bottom-bar .mfp-counter {
  color: #353535;
}
.black-night .mfp-arrow-left:before,
.black-night .mfp-arrow-left:after,
.black-night .mfp-arrow-right:before,
.black-night .mfp-arrow-right:after {
  display: none;
}
.black-night button.mfp-arrow {
  opacity: 1;
  background: #2cb07b;
}
.black-night button.mfp-arrow:hover {
  color: #FFF;
  background-color: #22875e;
}
.black-night .mfp-figure small {
  margin-top: 6px;
  color: #353535;
  font-size: 14px;
  line-height: 18px;
}
.black-night .mfp-counter {
  right: 6px;
  top: 6px;
}

/**
  _navbar: this file contain style declarations for the top navigation bar
*/
.black-night #main-header a {
  color: #FFF;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  -o-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}
.black-night #main-header .navbar-brand {
  position: relative;
}
.black-night #main-header .navbar-brand:hover {
  color: #cccccc;
}
@media screen and (min-width: 620px) {
  .black-night #main-header .navbar-brand .brand-logo:before {
    content: "";
    display: block;
    clear: both;
    position: absolute;
    top: -15px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #2cb07b;
  }
}
@media screen and (max-width: 992px) {
  .black-night .navbar-right {
    max-width: 575px;
  }
}
.black-night #navigation-top {
  background: #000;
  color: #FFF;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: 500;
}
@media screen and (min-width: 620px) {
  .black-night #navigation-top {
    padding: 15px 0px;
    background: transparent;
  }
}
.black-night #navigation-top.scrolled {
  border-bottom: solid 1px #666;
  background: #000;
}
@media screen and (min-width: 620px) {
  .black-night #navigation-top.scrolled {
    padding: 10px 0px;
  }
}
.black-night #navigation-top .navbar-nav a {
  font-size: 0.9em;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  -o-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}
.black-night #navigation-top .navbar-nav a:hover {
  color: #cccccc;
}
.black-night #navigation-top .navbar-brand {
  font-family: "News Cycle", sans-serif;
  font-size: 1.5em;
}
@media screen and (min-width: 992px) {
  .black-night #navigation-top .navbar-brand {
    font-size: 1.7em;
  }
}
.black-night #navigation-top .navbar-toggle .icon-bar {
  background-color: #FFF;
}
.black-night #navigation-top .dropdown-menu {
  font-size: inherit;
  background-color: rgba(0, 0, 0, 0.7);
}
.black-night #navigation-top .dropdown-menu > li > a {
  text-transform: none;
}
.black-night #navigation-top .nav > li > a:focus,
.black-night #navigation-top .nav > li > a:hover,
.black-night #navigation-top .nav .open > a,
.black-night #navigation-top .nav .open > a:focus,
.black-night #navigation-top .nav .open > a:hover {
  background-color: transparent;
  color: #bbbbbb;
}
.black-night #navigation-top .dropdown-menu > li > a {
  line-height: 1.5em !important;
}
.black-night #navigation-top .dropdown-menu > li > a:focus,
.black-night #navigation-top .dropdown-menu > li > a:hover {
  background-color: transparent;
}

/**
_cover: this file contain style declarations for the main section (big image with text)
*/
.cover {
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  min-height: 480px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url('../images/bg/freeimages/city-1532248-620x465.jpg?1453254404');
}
@media screen and (min-width: 1200px) {
  .cover {
    background-attachment: fixed;
  }
}
@media screen and (min-width: 620px) {
  .cover {
    background-image: url('../images/bg/freeimages/city-1532248-1600x1200.jpg?1453249357');
  }
}
.cover .cover-container {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .cover .cover-container {
    max-width: 1170px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .cover .cover-container {
    max-width: 970px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .cover .cover-container {
    max-width: 750px;
  }
}
.cover .cover-title {
  margin-bottom: 24px;
  font-weight: 300;
  font-size: 2em;
}
@media screen and (min-width: 620px) and (max-width: 992px) {
  .cover .cover-title {
    font-size: 3em;
  }
}
@media screen and (min-width: 992px) {
  .cover .cover-title {
    font-size: 3.4em;
  }
}
.cover .cover-title:after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 10px;
  background: #2cb07b;
  color: #2cb07b;
}
@media screen and (min-width: 620px) and (max-width: 992px) {
  .cover .cover-subtitle {
    font-size: 1.5em;
  }
}
@media screen and (min-width: 992px) {
  .cover .cover-subtitle {
    font-size: 1.7em;
  }
}

/**
  _split-block: the split-block with image and description in the About Us section.
*/
.split-block-image {
  position: relative;
  overflow: hidden;
  padding: 0;
  vertical-align: middle;
  background-color: #91e4c3;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #22875e), color-stop(30%, #79ddb5), color-stop(42%, #81e0ba), color-stop(46%, #89e2be), color-stop(48%, #91e4c3), color-stop(50%, #91e4c3), color-stop(52%, #91e4c3), color-stop(54%, #89e2be), color-stop(58%, #81e0ba), color-stop(70%, #79ddb5), color-stop(100%, #22875e));
  background-image: -webkit-linear-gradient(left, #22875e 0%, #79ddb5 30%, #81e0ba 42%, #89e2be 46%, #91e4c3 48%, #91e4c3 50%, #91e4c3 52%, #89e2be 54%, #81e0ba 58%, #79ddb5 70%, #22875e 100%);
  background-image: -moz-linear-gradient(left, #22875e 0%, #79ddb5 30%, #81e0ba 42%, #89e2be 46%, #91e4c3 48%, #91e4c3 50%, #91e4c3 52%, #89e2be 54%, #81e0ba 58%, #79ddb5 70%, #22875e 100%);
  background-image: -o-linear-gradient(left, #22875e 0%, #79ddb5 30%, #81e0ba 42%, #89e2be 46%, #91e4c3 48%, #91e4c3 50%, #91e4c3 52%, #89e2be 54%, #81e0ba 58%, #79ddb5 70%, #22875e 100%);
  background-image: linear-gradient(left, #22875e 0%, #79ddb5 30%, #81e0ba 42%, #89e2be 46%, #91e4c3 48%, #91e4c3 50%, #91e4c3 52%, #89e2be 54%, #81e0ba 58%, #79ddb5 70%, #22875e 100%);
}
.split-block-image.bulb-container {
  height: 300px;
  vertical-align: bottom;
}
@media screen and (min-width: 620px) {
  .split-block-image.bulb-container {
    height: 400px;
  }
}
.split-block-image .bulb-image {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.split-block-description {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 24px;
  padding-bottom: 48px;
}
@media screen and (min-width: 620px) {
  .split-block-description {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (min-width: 992px) {
  section:nth-child(odd) .split-block-row {
    background: url('../images/bg/design/fold-dark.png?1451360390') no-repeat bottom right #353535;
  }
}

@media screen and (min-width: 992px) {
  section:nth-child(even) .split-block-row {
    background: url('../images/bg/design/fold-light.png?1451360349') no-repeat bottom right #202020;
  }
}

/**
  _icon-list: this file contain style declarations for the icon list, which appears in Main and Our Services section
*/
.icon-list {
  margin: 0;
  padding-left: 0;
}
.icon-list li {
  position: relative;
  margin-bottom: 24px;
  text-align: left;
  list-style: none;
}
.icon-list li .icon-box {
  position: absolute;
  left: 0;
  top: 0;
}

.icon-list-1 .list-icon {
  display: block;
  width: 42px;
  height: 42px;
  background-color: #2cb07b;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
  text-align: center;
  line-height: 42px;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
@media screen and (min-width: 620px) {
  .icon-list-1 .list-icon {
    width: 54px;
    height: 54px;
    line-height: 54px;
  }
}
.icon-list-1 .list-icon:hover {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.icon-list-1 .list-text {
  padding-left: 54px;
}
@media screen and (min-width: 620px) {
  .icon-list-1 .list-text {
    padding-left: 72px;
  }
}

.icon-list-2 .list-icon {
  color: #2cb07b;
}
.icon-list-2 .list-text {
  padding-left: 30px;
}
@media screen and (min-width: 620px) {
  .icon-list-2 .list-text {
    padding-left: 48px;
  }
}
.icon-list-2 .list-text strong {
  color: #2cb07b;
}

/**
	_portfolio-isotope: this file contain style declarations for the portfolio 'isotope' (the thumbnails and filtering function)
*/
#portfolio-filters {
  display: none;
}
#portfolio-filters.active {
  display: block;
}

.isotope-filters button {
  margin-bottom: 12px;
  font-size: 0.9em;
}

.isotope .element-item {
  overflow: hidden;
  margin: 0 0 12px 0;
  cursor: pointer;
}
@media screen and (min-width: 992px) {
  .isotope .element-item {
    margin: 24px 0 12px 0;
  }
}
@media screen and (min-width: 992px) {
  .isotope .element-item:hover .hover-zoom {
    opacity: 1;
  }
  .isotope .element-item:hover .portfolio-caption {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  .isotope .element-item:hover .jumper-thumbnail {
    -webkit-transform: translate(0, -40px);
    -moz-transform: translate(0, -40px);
    -ms-transform: translate(0, -40px);
    -o-transform: translate(0, -40px);
    transform: translate(0, -40px);
  }
}

.portfolio-thumbnail {
  position: relative;
}

.portfolio-caption {
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 40px;
  text-align: center;
  line-height: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
}
@media screen and (min-width: 992px) {
  .portfolio-caption {
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    transform: rotateX(90deg);
  }
}
.portfolio-caption .project-title {
  display: inline-block;
  width: 100%;
  background: #2cb07b;
}

.portfolio-icon, .portfolio-caption {
  z-index: 20;
}

.filter-by-type {
  margin-right: 12px;
  font-weight: 700;
}
@media screen and (max-width: 480px) {
  .filter-by-type {
    display: block;
    margin-bottom: 12px;
  }
}

.portfolio-icons-container {
  position: relative;
  background-color: transparent;
  margin: 12px 0 6px 0;
  z-index: 20;
  opacity: 1;
  text-align: center;
}
@media screen and (min-width: 992px) {
  .portfolio-icons-container {
    width: 120px;
    position: absolute;
    left: 50%;
    margin-left: -60px;
    top: 50%;
    margin-top: -37px;
    opacity: 0;
  }
}
.portfolio-icons-container .portfolio-icon {
  font-size: 32px;
  color: #FFF;
}
@media screen and (min-width: 992px) {
  .portfolio-icons-container .portfolio-icon {
    font-size: 44px;
  }
}
.portfolio-icons-container .portfolio-icon a:hover {
  text-decoration: none;
  color: #2cb07b;
}
.portfolio-icons-container .portfolio-icon.first {
  border-right: solid 1px #2cb07b;
  margin-right: 12px;
}

.jumper-thumbnail {
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  position: relative;
}

/**
  _image-box: this file contain style declarations for the image box, a section with image background (Main Section, Newsletter Section, Quotes)
*/
.image-box {
  display: table;
  width: 100%;
  height: 400px;
  text-align: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media screen and (min-width: 1200px) {
  .image-box {
    background-attachment: fixed;
  }
}
.image-box.box01 {
  background-image: url('../images/bg/freeimages/gallery-1526795-620x400.jpg?1453254442');
}
@media screen and (min-width: 620px) {
  .image-box.box01 {
    background-image: url('../images/bg/freeimages/gallery-1526795.jpg?1453249423');
  }
}
.image-box.box02 {
  background-image: url('../images/bg/freeimages/high-rise-1234517-620x310.jpg?1453254370');
}
@media screen and (min-width: 620px) {
  .image-box.box02 {
    background-image: url('../images/bg/freeimages/high-rise-1234517-1599x797.jpg?1453249395');
  }
}
.image-box.box03 {
  background-image: "";
}
@media screen and (min-width: 620px) {
  .image-box.box03 {
    background-image: url('../images/bg/freeimages/high-rise-1234517-1599x797.jpg?1453249395');
  }
}
.image-box.box04 {
  background-image: "";
}
@media screen and (min-width: 620px) {
  .image-box.box04 {
    background-image: "";
  }
}
.image-box.box05 {
  background-image: "";
}
@media screen and (min-width: 620px) {
  .image-box.box05 {
    background-image: "";
  }
}

/**
  _quote: the quote text. To change the background and Quotes section appearance, you might as well check the ".text-box" at the "_general-styles" file.
*/
.quote {
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
}
.quote .quote-icon {
  color: #2cb07b;
}
.quote .quote-author {
  display: block;
  margin-top: 24px;
  text-transform: none;
  font-weight: none;
  font-size: 0.5em;
}

/**
  _pricing-table: styles for the pricing table
*/
.pricing-item {
  padding: 24px 0;
  margin: 0;
  background-color: #cccccc;
  color: #353535;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media screen and (min-width: 620px) {
  .pricing-item {
    margin: 24px 0;
  }
}
.pricing-item.featured {
  margin: 0;
  font-size: 1.2em;
}
.pricing-item.featured .pricing-value {
  background-color: #91e4c3;
  color: #FFF;
  text-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}
.pricing-item button {
  margin-top: 24px;
}

.pricing-header, .pricing-features {
  margin: 0 24px;
}

.pricing-header {
  padding-bottom: 12px;
}

.pricing-title {
  font-family: "News Cycle", sans-serif;
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  font-size: 1.2em;
  margin: 0;
}

.pricing-value {
  margin: 12px 0;
  padding: 12px 0;
  background-color: #bbbbbb;
  text-align: center;
}
.pricing-value small {
  font-size: 1em;
}
.pricing-value .price {
  font-weight: bold;
  font-size: 2.4em;
}

.pricing-features {
  padding-left: 0;
}
.pricing-features li {
  padding: 6px;
  text-align: center;
  border-bottom: dotted 1px #999999;
  list-style: none;
}
.pricing-features li:last-child {
  border: none;
}

/**
  _team-member: the Our Team section
*/
.team-member {
  position: relative;
}
.team-member:hover .member-profile {
  opacity: 1;
}
.team-member .member-thumbnail .member-pic {
  width: 100%;
}
.team-member .member-profile {
  display: table;
  width: 100%;
  margin-top: 24px;
  opacity: 1;
}
@media screen and (min-width: 992px) {
  .team-member .member-profile {
    position: absolute;
    top: 0;
    margin-top: 0;
    padding: 24px;
    opacity: 0;
  }
}
.team-member .member-profile .member-testimonial {
  font-size: 0.85em;
  font-style: italic;
}
.team-member .member-profile .member-contact-list {
  padding-left: 0;
  float: right;
}
.team-member .member-profile .member-contact-list li {
  margin-right: 10px;
}
.team-member .member-profile .member-contact-list li:hover {
  color: #91e4c3;
}
.team-member .member-data .databox-title {
  margin-top: 24px;
}
.team-member .member-data .databox-info {
  color: #2cb07b;
}

/**
  _testimonials: this file contain style declarations for the Testimonials, a section with a carousel full of clients' testimonials
*/
#testimonials .testimonials-wrapper {
  text-align: center;
  overflow: hidden;
}
#testimonials .testimonial-item {
  position: relative;
  margin: 0 60px;
}
@media screen and (min-width: 992px) {
  #testimonials .testimonial-item {
    margin: 0 100px;
  }
}
#testimonials .testimonial-sentence {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 24px;
}
#testimonials .testimonial-sentence .testimonial-title {
  margin-bottom: 48px;
}
#testimonials .testimonial-sentence .testimonial-title:after {
  content: "";
  display: block;
  clear: both;
  width: 50px;
  height: 1px;
  margin-top: 15px;
  background-color: #2cb07b;
  position: absolute;
  left: 50%;
  margin-left: -25px;
}
#testimonials .testimonial-credits {
  display: inline-block;
  text-align: center;
}
#testimonials .testimonial-credits .testimonial-quotes {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 12px;
  border: solid 2px #2cb07b;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
  color: #2cb07b;
  font-size: 1em;
  line-height: 35px;
}
#testimonials .testimonial-credits .testimonial-author {
  display: block;
  margin-top: 24px;
  font-size: 0.8em;
  font-weight: bold;
}
#testimonials #owl-testimonials {
  overflow: hidden;
}

/**
  _forms: this file contain style declarations for the form elements, Newsletter and Contact forms
*/
input, select, textarea {
  color: #333;
}

input, textarea {
  height: 48px;
  margin: 0;
  padding: 0;
  border: none;
  font-size: 0.9em;
  line-height: 48px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  text-indent: 12px;
}

button, input[type="submit"] {
  font-family: "News Cycle", sans-serif;
  text-transform: uppercase;
}

::-webkit-input-placeholder {
  color: #707070;
}

:-moz-placeholder {
  color: #707070;
}

::-moz-placeholder {
  color: #707070;
}

:-ms-input-placeholder {
  color: #707070;
}

.btn-flat {
  border: none;
  border-radius: 0;
  background-color: #2cb07b;
  color: #FFF;
  font-weight: 700;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  -o-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}
.btn-flat:hover {
  color: #FFF;
  background-color: #22875e;
}
.btn-flat:active {
  color: #FFF;
}

.mfp-container .btn-nav {
  -webkit-box-shadow: 0px 0px 50px -5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 50px -5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 50px -5px rgba(0, 0, 0, 0.5);
}

.btn-nav {
  width: 30px;
  height: 100px;
  text-align: center;
  line-height: 100px;
}
.btn-nav .glyphicon {
  position: absolute;
  top: 40px;
  left: 7px;
}
.btn-nav.arrow-left, .btn-nav.arrow-right {
  position: absolute;
  top: 50%;
  margin-top: -50px;
}
.btn-nav.arrow-left {
  left: 0;
}
.btn-nav.arrow-right {
  right: 0;
}

.big-button {
  font-size: 18px;
  padding: 9px 18px;
}
@media screen and (min-width: 620px) {
  .big-button {
    font-size: 20px;
    padding: 10px 20px;
  }
}

/** FAST FORM: one field, submit button (Newsletter, Search etc) */
.fast-form {
  position: relative;
  max-width: 480px;
  margin: 0 auto;
}
.fast-form .fast-form-field {
  padding-right: 100px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.fast-form .fast-form-submit {
  position: absolute;
  top: 0;
  right: 0;
  width: 96px;
  text-align: center;
  font-size: 1em;
}

/** CONTACT FORM */
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  padding-left: 0px;
  font-size: 0.9em;
}
.contact-form input[type="text"],
.contact-form input[type="email"] {
  height: 60px;
  font-size: 0.9em;
}
.contact-form input[type="submit"] {
  min-width: 30%;
}
.contact-form textarea {
  min-height: 200px;
}
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  margin-bottom: 6px;
  background-color: #cccccc;
  color: #353535;
}

/* FORM BEHAVIOR */
.black-night .form-control {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  margin-bottom: 0;
}
.black-night .has-error .form-control {
  border-width: 2px;
}
.black-night .alert {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}

/**
	_social-list: styles for the Social List (list of Social Media Icons after the Contact Form)
*/
.social-contact {
  text-align: center;
}

.social-list {
  position: relative;
  display: inline-block;
  margin: 12px auto 0 auto;
  font-size: 2em;
}
.social-list li {
  margin-right: 24px;
}
.social-list li:last-child {
  margin-right: 0;
}
.social-list li:hover {
  color: #2cb07b;
}
