// Settings
@import "settings/settings";

/**
  _color-switcher: styles for the color_switcher component
*/

.color-switcher {
	position: fixed;
	z-index: 99;
	top: 50%;
	margin-top: -25px;
	@include translateX(-45px);

	@media screen and (max-width: $break-tablet) {
		display: none;
	}


	&.open {
		@include translateX(0px);
	}

	&:after {
		content: "";
		display: block;
		clear: both;
	}

	.colors, .switcher-label {
		float: left;
		@include border-top-right-radius(5px);
		@include border-bottom-right-radius(5px);
		background-color: $light-gray;
	}

	.switcher-label {
		width: 50px;
		height: 50px;
		text-align: center;
		line-height: 50px;
		margin-top: $base-spacing;
		cursor: pointer;
		border-left: solid 1px lighten($medium-gray, 40%);
		color: $dark-text;

		&:hover {
			color: lighten($dark-text, 20%);
		}
	}

	.color-list {

		li {
			list-style: none;
			margin: $base-spacing/2;

			.color-sample {
				display: block;
				width: 20px;
				height: 20px;
				background-color: #000;
				text-indent: -10000px;
				border-bottom: solid 1px #FFF;
				border-right: solid 1px #FFF;
				cursor: pointer;

				&.blue {
					background-color: #00a1c4;
				}

				&.green {
					background-color: #2CB07B;
				}

				&.pink {
					background-color: #E80C7A;
				}

				&.purple {
					background-color: #8502c9;
				}

				&.orange {
					background-color: #f95e44;
				}
			}
		}
	}

}
