// Mixins
@import "globals/globals";

// Purple colors
$main-color: #A700FF;
$darker-main-color: darken($main-color, 10%);
$lighter-main-color: lighten($main-color, 30%);

// Components
@import "components/components";
