// Settings
@import "settings/settings";

// Pink colors
$main-color: #D02C7E;
$darker-main-color: darken($main-color, 10%);
$lighter-main-color: lighten($main-color, 30%);

// Components
@import "components/components";
