// Mixins
@import "globals/globals";

// Orange colors
$main-color: #f95e44;
$darker-main-color: shade($main-color, 15%);
$lighter-main-color: lighten($main-color, 15%);

// Components
@import "components/components";
