.cover {
	display: table;
 	width: 100%;
 	height: 100%;
 	position: relative;
  @include cover-background;
  
 	background-image: image-url('bg/city-1532248-1600x1200.jpg');


     @media screen and (min-width: $break-tablet) and (max-width: $break-large) {
      font-size: 1.5em;
     }

  	 @media screen and (min-width: $break-large) {
    	font-size: 1.7em;
  	 }

  	.cover-title {
  		font-weight: 300;
  		font-size: 2em;
  		margin-bottom: $vertical-spacing;
  	}

    .big-button {
      margin-top: ($vertical-spacing * 2);
    }

}

