/**
	_custom-magnific-popup: this file contains some style overrides for the Nagnific Popup (the lightbox)
*/

.black-night {
	button.mfp-close {
		// @include border-radius(50px);
		position: absolute;
	    right: 0;
	    width: 30px;
	    height: 30px;
	    line-height: 30px;
	    background: $main-color;
	    top: 40px;
	    right: 0;
	    opacity: 1;
	    @include transition(all 100ms ease-in);

	    	&:hover {
	    		background-color: $darker-main-color;
	    	}
	}

	.mfp-bottom-bar {
		background: $light-gray;
	    padding: 12px;
	    margin-top: 0;
	    margin-top: 0;
	    bottom: 40px;
	    top: auto;

	    .mfp-title {
	    	color: $dark-text;
	    }

	    .mfp-counter {
	    	color: $dark-text;
	    }
	}

	/* Custom nav button */
	.mfp-arrow-left:before,
	.mfp-arrow-left:after,
	.mfp-arrow-right:before,
	.mfp-arrow-right:after {
		display: none;
	}

	button.mfp-arrow {
		opacity: 1;
		background: $main-color;

		 &:hover {
		    color: #FFF;
		    background-color: $darker-main-color;
		  }
	}

	.mfp-figure small {
		font-size: 14px;
		line-height: 18px;
		margin-top: 6px;
		color: $dark-text;	
	}

	.mfp-counter {
		right: 6px;
		top: 6px;
	}
}