/**
	_custom-magnific-popup: this file contains some style overrides for the Nagnific Popup (the lightbox)
*/

.black-night {
	.mfp-bottom-bar {
		background: $medium-gray;
	    padding: 12px;
	    margin-top: 0;
	    margin-top: 0;
	    bottom: 0;
	    top: auto;
	}

	.mfp-figure small {
		font-size: 14px;
		line-height: 18px;
		margin-top: 6px;
		color: #FFF;		
	}

	.mfp-counter {
		right: 6px;
		top: 6px;
	}
}