/**
	_general-styles: this file contain style declarations used across the whole layout
*/

/** GENERAL ELEMENTS */

html, body, #main {
 	width: 100%;
 	height: 100%;
}

body {
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #FFF;
  font-size: 16px;

  @media screen and (min-width: $break-largest) {
    font-size: 18px;
  }

}

a, a:link, a:hover {
	color: inherit;
}

img {
	max-width: 100%;
}

ul {
	padding-left: 0;
    list-style-position: inside;
}

/** HELPER CLASSES */

.transition-fast {
	@include transition(all 200ms ease-in);
}

.inline-list {
	li {
		list-style: none;
		float: left;
	}
}

/** GRID ELEMENTS */

.table-row {
	display: table;
	margin: 0;
	width: 100%;
}

.table-col {
	display: table;
	width: 100%;
	vertical-align: top;

	@media screen and (min-width: $break-large) {
		width: 50%;
    	display: table-cell;
  	}

}

.content-row {
	margin-bottom: $base-spacing;
	@media screen and (min-width: $break-large) {
		margin-bottom: $base-spacing*2;
	}
}

[class*="col-"] {
	@media screen and (max-width: $break-large) {
		margin-bottom: $base-spacing;
	}
}

.isotope [class*="col-"] {
	@media screen and (max-width: $break-large) {
		margin-bottom: 0;
	}
}


/** GLOBAL STYLES */

section  {
	@include section-dimensions;

	&.full-dimensions {
		padding: 0;
	}

	p {
		line-height: 1.5em;
		margin-bottom: ($base-spacing * 0.5);
	}
}

section:nth-child(odd) {
	background-color: $medium-gray;
}

section:nth-child(even) {
	background-color: $dark-gray;
}

section .section-title {
	font-family: "Dosis", sans-serif;
	-webkit-font-smoothing: antialiased;
	text-transform: uppercase;
	font-weight: 500;
	text-align: center;
	font-size: 2em;
	margin-top: $base-spacing/2;
	margin-bottom: $base-spacing;

	@media screen and (min-width: $break-large) {
		margin-top: $base-spacing;
		margin-bottom: $base-spacing*2;
	}
}

section .section-subtitle {
	font-family: "Dosis", sans-serif;
	font-weight: 700;
	font-size: 1.4em;
	margin-bottom: ($base-spacing/2);
	margin-top: ($base-spacing/4);
}

.text-box {
	text-align: center; 
    display: table-cell;
    vertical-align: middle;
    background: image-url('bg/design/bg-cover.png') repeat;
  	padding: 0 10%;
  	box-sizing: border-box;
}

.hover-image-item, .hover-zoom {
	@include transition(all 200ms ease-in);
}

.hover-zoom {
	opacity: 0;
}

.hover-image:hover {
	.hover-image-item {
		@media screen and (min-width: $break-large) {
				opacity: 0.4;
			}
	}

	.hover-zoom {
		@media screen and (min-width: $break-large) {
				opacity: 1;
			}
	}
}

address span {
	display: block;
}
    
