/**
  _icon-list: this file contain style declarations for the icon list, which appears in Main and Our Services section
*/

.icon-list {
  padding-left: 0;
  margin: 0;

  li {
    list-style: none;
    position: relative;
    margin-bottom: $base-spacing;

    .icon-box {
      position: absolute;
      left: 0;
      top: 0;
    }
  }
} 

.icon-list-1 {

  .list-icon {
      display: block;
      background-color: $main-color;
      @include border-radius(60px);
      text-align: center;
      width: 42px;
      height: 42px;
      line-height: 42px;

      @include transition(all 200ms ease-in);
      @include transform(rotateY(0deg));

      @media screen and (min-width: $break-tablet) {
        width: 54px;
        height: 54px;
        line-height: 54px;
      }

      &:hover {
        @include transform(rotateY(180deg));
      }
    }

    .list-text {
      padding-left: 54px;

      @media screen and (min-width: $break-tablet) {
        padding-left: 72px;
      }
    }

}

.icon-list-2 {
  .list-icon {
    color: $main-color;
  }

  .list-text {
    padding-left: 30px;

    @media screen and (min-width: $break-tablet) {
      padding-left:48px;
    }

    strong {
      color: $main-color;
    }
  }
}
