/**
  _image-box: this file contain style declarations for the image box, a section with image background (Main Section, Newsletter Section, Quotes)
*/

.image-box {
  height: 400px;
  text-align: center;
  display: table;
  width: 100%;

  @include cover-background;

  &.box01 {
    background-image: $image-box-01;
  }

  &.box02 {
    background-image: $image-box-02;
  }

  &.box03 {
    background-image: $image-box-03;
  }

  &.box04 {
    background-image: $image-box-04;
  }

  &.box05 {
    background-image: $image-box-05;
  }


}