html, body, #main {
 	width: 100%;
 	height: 100%;
}

body {
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #FFF;
  font-size: 16px;
}

@import "navbar";
@import "cover";
@import "about-us";


