#main-header a {
	color: #FFF;
}

#navigation-top {
  font-family: "Dosis", sans-serif;
  color: #FFF;
  @include box-sizing("border-box");
  font-weight: 500;
  background: $transparent-black;


  @media screen and (min-width: $break-large) {
    padding: 15px 0px;
  }

  &.scrolled {
    border-bottom: solid 1px #666;
  	@media screen and (min-width: $break-large) {
      font-size: 0.875em;
      padding: 10px 0px;
  	}
  }

  .navbar-nav a {
  	text-transform: uppercase;
  }

  .navbar-brand {
  	font-size: 1.5em;
  }


  .navbar-toggle .icon-bar {
  	background-color: #FFF;
  }

  .dropdown-menu {
  	font-size: inherit;
  	background-color: $transparent-black;
  }

  .dropdown-menu>li>a {
  		text-transform: none;
  	}

	.nav>li>a:focus, 
	.nav>li>a:hover,
	.nav .open>a, 
	.nav .open>a:focus, 
	.nav .open>a:hover {
	  	background-color: $main-color;
	}

	.dropdown-menu>li>a {
		line-height: 1.5em!important;
	}

	.dropdown-menu>li>a:focus, 
	.dropdown-menu>li>a:hover {
		background-color: $medium-gray;
	}
  	
}

