/**
	_portfolio-isotope: this file contain style declarations for the portfolio 'isotope' (the thumbnails and filtering function)
*/

.isotope-filters {
	button {
		margin-bottom: $base-spacing/2;
		font-size: 0.9em;

	}
}

.element-item {
	overflow: hidden;

	@media screen and (min-width: $break-large) {
		margin: $base-spacing 0 $base-spacing/2 0;
	}
	cursor: pointer;

	&:hover {
		@media screen and (min-width: $break-large) {
			.hover-zoom {
				opacity: 1;
			}

			.portfolio-caption {
				bottom: 0;
			}

			.jumper-thumbnail {
				@include transform(translate(0,-40px));
			}
		}	
	}
}

.portfolio-caption {
	height: 40px;
	text-align: center;
	line-height: 40px;
	position: absolute;
	bottom: -40px;
	padding-right: 30px;
	width: 100%;

	@include box-sizing(border-box);

	@include transition(all 200ms ease-in);

	.project-title {
		background: $main-color;
		display: inline-block;
    	width: 100%;
	}
}

.portfolio-icon, .portfolio-caption {
	z-index: 99;
}

.filter-by-type {
	font-weight: 700;
	margin-right: $base-spacing/2;

	@media screen and (max-width: $break-mobile) {
		display: block;
		margin-bottom: $base-spacing/2;
	}

}

.portfolio-icon {

	@media screen and (min-width: $break-large) {
		position: absolute;
		font-size: 54px;
		color: #FFF;
		width: 55px;
		height: 75px;
		left: 50%;
		margin-left: -23px;
		top: 50%;
		margin-top: -37px;
		background-color: transparent;
	}
}

.portfolio-icon-mobile {
	position: absolute;
	background-color: $main-color;
	bottom: -1px;
	right: 15px;
    padding: 5px 10px;
    font-size: 16px;

    @media screen and (min-width: $break-large) {
		display: none;
	}
	
}

.jumper-thumbnail {
	@include transition(all 200ms ease-in);
	position: relative;
}
