/**
  _pricing-table: styles for the pricing table
*/

$pricing-border-color: #999;

.pricing-item {
  background-color: #CCC;
  color: #333;
  padding: $base-spacing 0;
  margin: $base-spacing*1.5 0;

  @include box-sizing(border-box);

  &.featured {
      margin: $base-spacing 0;
      font-size: 1.2em; 

      .pricing-value {
        background-color: $lighter-main-color;
        color: #FFF;
        text-shadow: 0px 3px 10px rgba(0,0,0,0.2);
      }
    }

    button { 
      margin-top: $base-spacing;
      }
}

.pricing-header, .pricing-features {
  margin: 0 $base-spacing;
}

.pricing-title {
  font-family: "Dosis", sans-serif;
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  font-size: 1.2em;
  margin: 0;
}

.pricing-value {
  text-align: center;
  margin: $base-spacing/2 0;
  padding: $base-spacing/2 0;
  background-color: #BBB;

  small {
    font-size: 1em;
  }

  .price {
      font-weight: bold;
      font-size: 2.4em;
  }
}

.pricing-features {
  padding-left: 0;

  li {
    text-align: center;
    padding: 6px;
    list-style: none;
    border-bottom: dotted 1px $pricing-border-color;

    &:last-child {
      border: none;
    }
  }
}