#about-us {
	padding: 0;
}

#about-us-headgear {
	padding: 0;
	background-color: $lighter-main-color;
	background-image: radial-gradient(closest-side, transparent 90%, rgba(0,0,0,.1) 99%),
	radial-gradient(closest-side, transparent 90%, rgba(0,0,0,.1) 99%);
	background-size:500px 500px;
	background-position:0 0, 50px 50px;

	.head {
		max-height: 350px;
	}
}

#about-us-description {
	padding-left: 15px;
	padding-right: 15px;

	@include section-dimensions;

	 .big-button {
      	margin-top: ($vertical-spacing * 1.2);
    }
}

