/**
  _split-block: the split-block with image and description in the About Us section.
*/

.split-block-image {
	position: relative;
	overflow: hidden;
	padding: 0;
	height: 300px;
	vertical-align: bottom;

	background-color: $lighter-main-color; // Old browsers
	@include background-image(linear-gradient(left, $darker-main-color 0%, $lighter-main-color 50%, $darker-main-color 100%));


	 @media screen and (min-width: $break-tablet) {
	    height: 400px;
	  }

	  .split-image-container {
	  		position: absolute;
	  		bottom: 0;
	  		left: 0;
	  		right: 0;
	  		margin: 0 auto;
	  }

}

.split-block-description {
	padding-left: 15px;
	padding-right: 15px;

	@media screen and (min-width: $break-tablet) {
		padding-left: 24px;
		padding-right: 24px;
	}

	@include section-dimensions;
}

section:nth-child(odd) {
	.split-block-description {
		@media screen and (min-width: $break-large) {
			background: image-url('bg/design/fold-dark.png') no-repeat bottom right $medium-gray;
		}
	}
}

section:nth-child(even) {
	.split-block-description {
		@media screen and (min-width: $break-large) {
			background: image-url('bg/design/fold-light.png') no-repeat bottom right $dark-gray;
		}
	}
}
