/**
  _team-member: the Our Team section
*/

.team-member {
	position: relative;
	margin-top: $base-spacing;

	&:hover {

		.member-profile {
			opacity: 1;
		}
	}
			
	.member-thumbnail {
		.member-pic {
			width: 100%;
		}
	}

	.member-profile {
		margin-top: $base-spacing;
		display: table;
		width: 100%;
		opacity: 1;

		@media screen and (min-width: $break-large) {
			padding: $base-spacing;
			margin-top: 0;
			top:0;
			position: absolute;
			opacity: 0;
		}

		.member-testimonial {
			font-size: 0.85em;
			font-style: italic;
		}

		.member-contact-list {
			padding-left: 0;
			float: right;

			li {
				margin-right: 10px;
				&:hover {
					color: $lighter-main-color;
				}
			}
		}
	}

	.member-name {
		font-family: "Dosis", sans-serif;
		text-align: center;
		margin-bottom: 5px;
	}

	.member-position {
		display: block;
		font-size: 0.8em;
		color: $main-color;
		text-align: center;
	}
}
