/**
  _icon-list: this file contain style declarations for the icon list, which appears in Main and Our Services section
*/

.black-night {
  .media-list {

    li {
      margin-bottom: $base-spacing;
    }

    .media-heading {
        font-weight: 700;

        &.color {
          color: $main-color;
        }
    }
  } 
}


