/**
  _image-box: this file contain style declarations for the image box, a section with image background (Main Section, Newsletter Section, Quotes)
*/

.image-box {
  display: table;
  width: 100%;
  height: 400px;
  text-align: center;

  @include cover-background;

}