/**
	_portfolio-isotope: this file contain style declarations for the portfolio 'isotope' (the thumbnails and filtering function)
*/

.portfolio-filters {
	display: none;

	&.active {
		display: block;
	}	

	button {
		margin-bottom: $base-spacing/2;
		font-size: 0.9em;

	}
}

.isotope {
	.element-item {
		margin: 0 0 $base-spacing/2 0;
		cursor: pointer;

		@media screen and (min-width: $break-large) {
			overflow: hidden;
			margin:	$base-spacing 0 $base-spacing/2 0;
		}

		&:hover {
			@media screen and (min-width: $break-large) {
				.hover-zoom {
					opacity: 1;
				}

				.portfolio-caption {
					@include transform(rotateX(0deg));			
				}

				.jumper-thumbnail {
					@include transform(translate(0,-40px));
				}
			}	
		}
	}
}

.portfolio-thumbnail {
	position: relative;
}

.portfolio-caption {
	position: absolute;
	bottom: -1px;
	width: 100%;
	height: 40px;
	text-align: center;
	line-height: 40px;

	@include box-sizing(border-box);
	@include transition(all 200ms ease-in);
	@include el-transform-origin(0,100%);

	@media screen and (min-width: $break-large) {
		@include transform(rotateX(90deg));
	}

	.project-title {
		display: inline-block;
    	width: 100%;
    	background: $main-color;
	}
}

.portfolio-icon, .portfolio-caption {
	z-index: 20;
}

.filter-by-type {
	margin-right: $base-spacing/2;
	font-weight: 700;

	@media screen and (max-width: $break-mobile) {
		display: block;
		margin-bottom: $base-spacing/2;
	}

}

.portfolio-icons-container {
	position: relative;
	background-color: transparent;
	margin: $base-spacing/2 0 $base-spacing/4 0;
	z-index: 20;
	opacity: 1;
	text-align: center;
	min-width: 45px;

	@media screen and (min-width: $break-large) {			
		width: 120px;
		@include center-absolute(120px);
		top: 50%;
		margin-top: -37px;
		opacity: 0;
	}

	.icon-holder {
		display: inline-block;
		&.first {
			padding-right: 12px;
			border-right: solid 1px $main-color;
			margin-right: 12px;
		}
	}
}

.jumper-thumbnail {
	@include transition(all 200ms ease-in);
	position: relative;
}
