/**
  _testimonials: this file contain style declarations for the Testimonials, a section with a carousel full of clients' testimonials
*/

#testimonials {	

  .testimonials-wrapper {
      text-align: center;
      overflow: hidden;
  }

  .testimonial-item {
    position: relative;
  		margin: 0 60px;

  		@media screen and (min-width:$break-large) {
  			margin: 0 100px;
  		}
  }

  .testimonial-sentence {

  		@include box-sizing(border-box);
  		margin-bottom: $base-spacing;

	  	.testimonial-title {
	  		margin-bottom: $base-spacing*2;

	  		&:after {
  				@include el-clearfix;

  				width: 50px;
  				height: 1px;
          margin-top: 15px;
  				background-color: $main-color;
          
          @include center-absolute(50px);
  			 }
	  	}
  }

  .testimonial-credits {
  		display: inline-block;
      text-align: center;

		.testimonial-quotes {
      display: inline-block;
      width: 40px;
      height: 40px;
      margin-right: 12px;
      border: solid 2px $main-color;
      @include border-radius(60px);
			color: $main-color;
			font-size: 1em;
      line-height: 35px;
		}

		.testimonial-author {
        display: block;
        margin-top: $base-spacing;
			  font-size: 0.8em;
  			font-weight: bold;
		}
  }

  #owl-testimonials {
    overflow: hidden;
  }
}