// Mixins Files
@import "mixins/mixins";

// Frameworks Files
@import "compass";

// ALL the variables used across the layout (colors, default measures etc)

// COLORS

$darkest-gray: #111;
$dark-gray: #202020;
$medium-gray: #353535;
$light-gray: #BBB;
$lightest-gray: #CCC;

$dark-text: #353535;
$placeholder: #707070;

$transparent-black: rgba(0,0,0,0.7);

// MEDIA QUERIES BREAKPOINTS 

$break-largest: 1200px;
$break-large-max: 1199px;
$break-large: 992px;
$break-tablet-max: 991px;
$break-tablet: 620px;
$break-mobile: 480px;

// FONTS
$base-font: "Raleway", sans-serif;
$special-font: "News Cycle", sans-serif;

// MEASURES

$base-spacing: 24px;

// IMAGES
$cover-image: image-url('creative-commons/city-1532248-1600x1200.jpg'); // 'Cover' (Home) section background
$cover-image-sm: image-url('creative-commons/city-1532248-620x465.jpg'); // 'Cover' (Home) for small devices

$image-box-01: image-url('creative-commons/german.jpg'); // 'Quote' section background 
$image-box-01-sm: image-url('creative-commons/german.jpg'); // 'Quote' for small devices

$image-box-02: image-url('creative-commons/dvd.jpg'); ; // Newsletter section
$image-box-02-sm: image-url('creative-commons/dvd.jpg'); ; // Newsletter for small devices

$image-box-03: "";
$image-box-03-sm: "";

$image-box-04: "";
$image-box-04-sm: "";

$image-box-05: "";
$image-box-05-sm: "";    
